.cartWidget{
  width: 50px;
  margin: 0 20px 0 20px;
}

.brandLogo{
  width: 50px;
  margin: 0 20px 0 20px;
}

.navBar{
  background-color: #0600b5;
}

.navBarContainer{
  min-width: 100%;
}

.greetingContainer{
  font-size:2rem;
  color: rgb(54, 52, 52);
  font-weight: 600;
}

